@font-face {
    font-family: 'Petitinho';
    src: url('fonts/Petitinho.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #000000; /* Black background */
}

canvas {
    /* border: 1px solid #9babb2; */ /* Remove border for seamless look */
    display: block;
    width: 100%; /* Make canvas fill body width */
    height: 100%; /* Make canvas fill body height */
} 